
<footer id="site-footer">
  <p><i class="fa fa-copyright" aria-hidden="true"></i> 2017 Mazen Alotaibi.</p>
  <a href="https://github.com/umar5111" id="github" class="social-btn"  target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
  <a href="https://linkedin.com/in/umar5111" id="linkedin" class="social-btn"  target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
  <a href="https://twitter.com/umar5111" id="twitter" class="social-btn"  target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  <a href="mailto:alkhamiu@oregonstate.edu" id="email-icon" class="social-btn"  target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
</footer>
<script type="text/javascript" src="/js/index.js"></script>
</div>
</body>
</html>
