<!DOCTYPE html>
<html>
  <head>
    <!-- Website Details -->
    <meta charset="utf-8">
    <title>Meshari Alotaibi</title>
    <meta name="theme-color" content="#f25f70">
    <meta name="author" content="Meshari Alotaibi">
    <meta name="description" content="Meshari Alotaibi's Personal Space">
    <meta name="keywords" content="Meshari, Alotaibi, Web, Developer, Business, Math">
    <link rel="icon" type="image/x-icon" href="img/icon.png">
    <meta property="og:title" content="Meshari Alotaibi">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://meshariota.herokuapp.com/">
    <meta property="og:image" content="https://meshariota.herokuapp.com//img/icon.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="600">
    <meta property="og:description" content="Meshari Alotaibi's Personal Space">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- twitter details -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@meshariota">
    <meta name="twitter:creator" content="@meshariota">

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-99598357-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-4747237803381845",
        enable_page_level_ads: true
      });
    </script>

    <!-- ICONS/FONTS -->
    <script src="https://use.fontawesome.com/ac52bb8fdd.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Russo+One|Space+Mono|Palanquin+Dark" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div id="page">
      <header id="site-header">
        <div id="site-brand">
          <img src="/img/face.jpg" alt="ME!">
          <h1 id="site-title"><a href="/">Meshari Alotaibi</a></h1>
        </div>
        <div id="site-navbar">
          <nav>
            <!--<button class="menu-toggle" aria-controls="menu" aria-expanded="false">Menu</button>-->
            <div id="menu">
              <ul id="nav-menu">
                <li><a href="/">About</a></li>
                <li><a href="/CV">CV</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <div id="secondary">
          <ul>
            <hr class="breaker">
            <li id="social-list">
              <a href="https://github.com/meshariota" id="github" class="social-btn"  target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
              <a href="https://linkedin.com/in/meshariota" id="linkedin" class="social-btn"  target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <a href="https://twitter.com/meshariota" id="twitter" class="social-btn"  target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="mailto:meshari.ota@gmail.com" id="email-icon" class="social-btn"  target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
          </li>
          <hr class="breaker">
          <li id="frieinds-list">
            <strong>Friends:</strong>
            <ul id="friends-list">
              <li><a href="http://iamalotaibi.me" class="friends-btn"  target="_blank">Mazen Alotaibi</a></li>
            </ul>
          </li>
        </ul>
        </div>
      </header>
