<%- include('includes/header') %>
<div id="site-body">
        <main id="site-content">
          <div id="primary">
            <div class="img-holder">
              <img id="about-img" src="/img/mazen-normal.jpeg" alt="">
            </div>
            <div id="intro-summary">
              <p>Hi there, I'm Umar Alkhamis; I am a college student at Oregon State University, I am majoring in Management.
                I do some small projects on <a href="https://github.com/iamalotaibi"  target="_blank"><strong>GitHub</strong></a> to distract me from school.
                I am <a href="/cv"><strong>available for work</strong></a>. You could <a href="/contact"><strong>contact me</strong></a>.</p>
            </div>
            <div id="hire-area">
              <a id="hire-btn" href="/cv"  target="_blank">Hire Me</a>
            </div>
            <div id="where-i-am">
              <h2>Current Courses:</h2>
              <ul>
                <div class="skill-box">
                  <li>
                    <h3>Fall:</h3>
                    <ul>
                      <li>Computer Networking</li>
                      <li>Numerical Analysis</li>
                      <li>Databases</li>
                      <li>Software Engineering</li>
                    </ul>
                  </li>
                </div>
                <div class="skill-box">
                  <li>
                    <h3>Winter:</h3>
                    <ul>
                      <li>Operating Systems</li>
                      <li>Linear Algebra</li>
                      <li>Statics for Engieers</li>
                      <li>Software Engineering</li>
                    </ul>
                  </li>
                </div>
              </ul>
            </div>
            <div id="current-reading">
              <h2>Current Reading:</h2>
              <div id="book-cover">
                <a href="https://www.goodreads.com/book/show/24612233-the-master-algorithm"  target="_blank"><img src="/img/master_algorithm.jpg" alt="The Master Algorithm: How the Quest for the Ultimate Learning Machine Will Remake Our World" title="Read More"></a>
              </div>
              <div id="book-details">
                <h3>The Master Algorithm: How the Quest for the Ultimate Learning Machine Will Remake Our World</h3>
                <h5>by <span id="book-author">Pedro Domingos</span></h5>
                <p>In the world's top research labs and universities, the race is on to invent the ultimate learning algorithm: one capable of discovering any knowledge from data, and </p>
                <p>doing anything we want, before we even ask. In The Master Algorithm, Pedro Domingos lifts the veil to give us a peek inside the learning machines... <a href="https://www.goodreads.com/book/show/24612233-the-master-algorithm"  target="_blank">READ MORE</a></p>
              </div>
            </div>
          </div>
        </main>
      </div>
<%- include('includes/footer') %>
