<%- include('includes/header') %>
<div id="site-body">
        <main id="site-content">
          <div id="primary">
            <div class="img-holder">
              <img id="about-img" src="/img/mazen-normal.jpeg" alt="">
            </div>
            <div id="intro-summary">
              <p>Hi there, I'm Meshari Alotaibi; I am a high school student at Dhahran High School, I am interested in Data Science.
                I do some small projects on <a href="https://github.com/meshariota"  target="_blank"><strong>GitHub</strong></a> to distract me from school.
                I am <a href="/cv"><strong>available for work</strong></a>. You could <a href="/contact"><strong>contact me</strong></a>.</p>
            </div>
            <div id="hire-area">
              <a id="hire-btn" href="/cv"  target="_blank">Hire Me</a>
            </div>
            <div id="where-i-am">
              <h2>Current Courses:</h2>
              <ul>
                <div class="skill-box">
                  <li>
                    <h3>Fall:</h3>
                    <ul>
                      <li>Chem</li>
                      <li>English</li>
                      <li>Math</li>
                      <li>تفسير</li>
                      <li>عربي</li>
                    </ul>
                  </li>
                </div>
                <div class="skill-box">
                  <li>
                    <h3>Winter:</h3>
                    <ul>
                    </ul>
                  </li>
                </div>
              </ul>
            </div>
          </div>
        </main>
      </div>
<%- include('includes/footer') %>
