<%- include('includes/header') %>
<div id="site-body">
  <main id="site-content">
        <ul id="resume-display">
          <li class="resume-item">
            <h2 class="item-title"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Education</h2>
            <ul class="item-list">
              <li class="item-work">
                <h3 class="title">Oregon State Univeristy <button type="button" name="button" title="Show Courses" id="courses-btn"><i class="fa fa-arrow-right" aria-hidden="true"></i></button><span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> 09/2015 - 06/2019(expected date)</span></h3>
                <h4 class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Corvallis, OR (USA)</h4>
                <div class="details">
                  <p>Major: Business</p>
                </div>
              </li>
            </ul>
          </li>
          <li class="resume-item">
            <h2 class="item-title"><i class="fa fa-cogs" aria-hidden="true"></i>Experience</h2>
            <ul class="item-list">
              <li class="item-work">
                <h3 class="title">DesertHacks (Hackathon)<span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> 02/2017</span></h3>
                <h4 class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Phoenix, AZ (USA)</h4>
                <div class="details">
                  <p>Attendee</p>
                </div>
              </li>
            </ul>
          </li>
          <li class="resume-item">
            <h2 class="item-title"><i class="fa fa-folder-open" aria-hidden="true"></i>Projects</h2>
            <ul class="item-list">
              <li class="item-work">
                <h3 class="title"><a href="/lab/#AceCollege"  target="_blank">AceCollege</a><span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> 06/2017 - Present</span></h3>
                <div class="details">
                  <p>A web app aims to improve college student’s performance by keeping track of important tasks.</p>
                </div>
              </li>
              <li class="item-work">
                <h3 class="title"><a href="/lab/#Display-Me"  target="_blank">Display-Me</a><span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> 11/2016</span></h3>
                <div class="details">
                  <p>A web app displays current time and temperature, todo-list, and calendar.</p>
                </div>
              </li>
              <li class="item-work">
                <h3 class="title"><a href="/lab/#RGB-game"  target="_blank">RGB Game</a><span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> 10/2016</span></h3>
                <div class="details">
                  <p>A web game to test user’s knowledge of RGB colors.</p>
                </div>
              </li>
            </ul>
          </li>
          <li class="resume-item">
            <h2 class="item-title"><i class="fa fa-check" aria-hidden="true"></i>Skills</h2>
            <div class="skill-box">
              <div class="skill-block">
                <ul class="skill-set">
                    <li><h4 class="skill-title">Web Design:</h4></li>
                    <li class="skill-list">HTML</li>
                    <li class="skill-list">CSS</li>
                    <li class="skill-list">JavaScript</li>
                </ul>
                <ul class="skill-set">
                    <li><h4 class="skill-title">Database:</h4></li>
                    <li class="skill-list">NodeJS</li>
                    <li class="skill-list"  title="Currently Learning for a Course">PHP*</li>
                    <li class="skill-list">MongoDB (NoSQL)</li>
                    <li class="skill-list"  title="Currently Learning for a Course">MariaDB (MySQL)*</li>
                </ul>
                <ul class="skill-set">
                    <li><h4 class="skill-title">Unix I/O:</h4></li>
                    <li class="skill-list">C/C++</li>
                    <li class="skill-list">Python</li>
                    <li class="skill-list"  title="Currently Learning for a Course">Java*</li>
                </ul>
                <ul class="skill-set">
                    <li><h4 class="skill-title">Machine Learning:</h4></li>
                    <li class="skill-list">OpenCV</li>
                    <li class="skill-list">TensorFlow</li>
                </ul>
              </div>
            </div>
            <div class="skill-box">
              <div class="skill-block">
                <ul class="skill-set">
                    <li><h4 class="skill-title">Data Analysis:</h4></li>
                    <li class="skill-list">R</li>
                    <li class="skill-list"  title="Currently Learning for a Course">MatLab*</li>
                </ul>
                <ul class="skill-set">
                    <li><h4 class="skill-title">Control System:</h4></li>
                    <li class="skill-list">Git</li>
                </ul>
                <ul class="skill-set">
                    <li><h4 class="skill-title">Document System:</h4></li>
                    <li class="skill-list">LaTeX</li>
                </ul>
                <ul class="skill-set">
                    <li><h4 class="skill-title">Operating System:</h4></li>
                    <li class="skill-list">Linux(Ubuntu)</li>
                    <li class="skill-list">Windows</li>
                    <li class="skill-list">MacOS</li>
                </ul>
              </div>
        </div>
        </li>
        <div id="download-area">
          <a id="download-btn" href="#"  target="_blank">DOWNLOAD</a>
        </div>
      </main>
      </div>
<%- include('includes/footer') %>
